# Dataset
flower_dataset/
data/
*.zip

# Model checkpoints - too large for normal GitHub push
outputs/checkpoints/
outputs/vae_checkpoints/
outputs/cvae_checkpoints/
*.pth
*.pt
*.ckpt

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# macOS
.DS_Store